html{
  background: url(./background1.jpg) no-repeat center center fixed;
}
.App {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

.App .title {
  font-size: 5rem;
  padding: 0px 20px 0px 20px;
 
  align-self: center;
  color: #1b1b1b;
  font-family: "Covered By Your Grace", cursive;
}
